@charset "utf-8";html,body {
    /* width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden */
}

body {
    font-size: 16px;
    font-family: verdana,Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,STHeiti;
    _font-family: Tahoma,Arial,Helvetica,STHeiti;
    background-color: #333
}

*,*:active,*:focus {
    outline: 0 none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input,select,textarea,button {
    font-family: verdana,Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",STHeiti;
    _font-family: Tahoma,Arial,Helvetica,STHeiti
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
body,p,div {
    margin: 0;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word
}
.mt8{
    margin-top: 8px !important
}
.ml92{
    margin-left: 92px;
}
.mt49{
    margin-top: 49px !important;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 100%
}

ul,ol,li,dl,dd,dt {
    margin: 0;
    padding: 0;
    list-style: none
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a {
    color: #ffa800;
    text-decoration: none;
}
.lih18{
    line-height: 18px;
}
/* a:hover {
    color: #ffa800;
    text-decoration: underline
} */

td {
    font-size: 12px;
    color: #960
}

img {
    border: 0
}

input {
    outline: 0
}

.line20 {
    line-height: 20px
}

.tdcenter {
    text-align: center
}

.hide {
    display: none
}

.clearbg {
    background: 0
}

.clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden
}

.clearfix:after,.wrapper:after,.article:after {
    content: '\20';
    clear: both;
    display: block
}

.clearfix,.wrapper,.article {
    *zoom:1}

.fullscreen-bg {
    background: #fff;
    bottom: 0;
    right: 0;
    /* position: fixed; */
    position: absolute\9;
    width: 100%\9;
    height: 100%\9;
    overflow: hidden;
    left: 0;
    top: 0
}
.header{
    background: #f1b238;
    height: 140px;
    position: relative;
}
.header .hei{
    background: #000;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.header img{
    position: absolute;
    left: 50%;
    bottom: 8px;
    z-index: 1;
    margin-left: -50px;
    border-radius: 100%;
    border: 4px solid #000;
}



.wrapper {
    width: 929px;
    margin: 70px auto;
    height: 787px;
    padding-top: 120px;
    position: relative;
    background: url(../img/login/vein.png) no-repeat;
}
.wrapper .pimg{
    position: absolute;
    left: -10%;
    top: 120px;
}
.pimg img{
    display: block;
}
.login-1{
    width: 481px;
    height: 463px;
    background: url(../img/login/frame.png) no-repeat;
    float: right;
    padding: 114px 50px 0 50px;
    color: #2f2f2f;
    font-size: 22px;
}
.login-1 li{
    margin-bottom: 20px;
}
.login-1 li:first-child{
    margin-bottom: 30px;
}
.login-1 .name-1 i{
    width: 19px;
    height: 21px;
    background: url(../img/login/account_icon.png) no-repeat;
    display: inline-block;
    vertical-align: -4px;
}
.login-1 .pass-1 i{
    width: 19px;
    height: 22px;
    background: url(../img/login/password_icon.png) no-repeat;
    display: inline-block;
    vertical-align: -6px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d3d3d3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d3d3d3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d3d3d3;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d3d3d3;
}
.from-item input{
    width: 291px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 20px;
    color: #666;
    line-height: 30px;
    padding: 6px 0 6px 12px;
    box-shadow: 0 0 5px #fff;
    outline: 0;
}
.login-1 li input{
    width: 290px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 20px;
    color: #666;
    line-height: 33px;
    padding: 6px 0 6px 12px;
    box-shadow: 0 0 5px #fff;
    outline: 0;
}
.login-1 span{
    vertical-align: -2px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #f1b238;
    line-height: 45px;
    color: #252525;
    display: block;
    border-radius: 5px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.threelogin{
    font-size: 18px;
}
.threelogin .wchat{
    float: left;
    color: #2f2f2f;
    
}
.threelogin .wchat i{
    display: inline-block;
    width: 32px;
    height: 26px;
    background: url(../img/login/wechat_icon.png) no-repeat;
    vertical-align: -8px;
    margin-right: 10px;
}
.threelogin  a{
    color: #d99133;
    float: right;
}
.mt50{
    margin-bottom: 40px;
}
.f18{
    font-size: 18px;
}


.forget-body-com{
    width: 481px;
    height: 487px;
    background: url(../img/login/forget_frame.png) no-repeat;
    /* float: right; */
    margin-left: 405px;
    padding: 100px 50px 0 45px;
}
.forget-body-com .from-email input{
    width:269px;
}
.forget-body-1  .from-email input{
    width:291px;
}
.con-body ul{
    margin-bottom: 65px;
    font-size: 22px;
    color: #2f2f2f;
}
.con-body ul li{
    height: 44px;
    margin-top: 24px;
    position: relative;
}
.con-body ul li:first-child{
    margin-top: 0;
}
.con-body .from-email i{ 
    display: inline-block;
    width: 19px;
    height: 21px;
    background: url(../img/login/account_icon.png) no-repeat;
    vertical-align: -3px;
    margin-right: 5px;  
}
.con-body .from-mobile i{
    display: inline-block;
    width: 19px;
    height: 26px;
    background: url(../img/login/phone_icon.png) no-repeat;
    vertical-align: -5px;
    margin-right: 5px;
}
.con-body .from-pass i{
    display: inline-block;
    width: 19px;
    height: 22px;
    background: url(../img/login/password_icon.png) no-repeat;
    vertical-align: -3px;
    margin-right: 5px;
}
.con-body .from-smscode i{
    display: inline-block;
    width: 19px;
    height: 16px;
    background: url(../img/login/code_icon.png) no-repeat;
    margin-right: 5px;
}
.con-body .from-author i{
    display: inline-block;
    width: 23px;
    height: 19px;
    background: url(../img/login/portrait_icon.png) no-repeat;
    margin-right: 5px;    
}
.con-body .from-smscode input{
    width: 135px;
}
.con-body .from-smscode a{
    width: 111px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-left: 16px;
    display: inline-block;
    background: #f1b238;
    font-size: 14px;
    color: #2f2f2f;
    vertical-align: top;
    border-radius: 5px;
}
.forget-body .fh_home{
    font-size: 18px;
    color: #d99133;
    line-height: 18px;
}
.from-item .err-tip {
    clear: both;
    background: url(../img/login/err_ico2.png) 0 -60px no-repeat #fff;
    padding: 0 0 3px 22px;
    width: 100%;
    font-size: 12px;
    color: #ff3c00;
    margin-top: 10px;
    top: -31px;
    position: absolute;
    left: 116px;
    text-align: left;
    display: none;
}

.register-body-1{
    width: 481px;
    height: 487px;
    background: url(../img/login/register_frame12.png) no-repeat;
    /* float: right; */
    display: none;
    margin-left: 405px;
    padding: 100px 50px 0 45px;
}
.register-body-2{
    width: 481px;
    height: 487px;
    background: url(../img/login/register_frame22.png) no-repeat;
    /* float: right; */
    display: block;
    margin-left: 405px;
    padding: 68px 50px 0 45px;
}
.register-body-2 .from-mobile input{
    width: 262px;
    margin-left: 30px;
}
.register-body-2 .bd-upload {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: relative;
    vertical-align: 5px;
    margin-left: 5px;
    width: 131px;
}
.register-body-2 .bd-upload__input {
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 5px;
    font-size: 0;
}
.register-body-2 .bd-button {
    width: 100%;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #2f2f2f;
    border: 1px solid #2f2f2f;
    border-color: #2f2f2f;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.register-body-2 .bd-button--small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.register-body-2 .bd-button--primary {
    color: #2f2f2f;
    background-color: #f1b238;
    border-color: #f1b238;
    font-weight: bold;
    font-size: 16px;
}
.register-body-2 span.item-2{
    text-align: right;
    font-size: 12px;
    width: 100px;
    /* margin-top: 3px; */
    display: inline-block;
    vertical-align: -3px;

}
.register-body-2 ul{
    margin-bottom: 34px;
}
.register-body-2 .item-3{
    width: 122px;
    height: 122px;
    background: url(../img/login/tou.png) no-repeat;
    margin: 0 auto 24px;
}
.register-body-2 .item-3 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.login-body{
    width: 481px;
    height: 463px;
    background: url(../img/login/frame.png) no-repeat;
    margin-left: 405px;
    padding: 100px 50px 0 45px;
}
.login-body ul{
    margin-bottom: 24px;
}

.bd-checkbox {
    color: #2f2f2f;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
}
.bd-checkbox__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}
.bd-checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 18px;
}
.bd-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: #d2d2d2;
    z-index: 1;
    border-radius: 100%;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.bd-checkbox__inner:after {
    transform: rotate(45deg) scaleY(0);
    transition: transform .15s ease-in .05s;
    transform-origin: center;
    /* box-sizing: content-box;
    content: "";
    border: 1px solid #d2d2d2;
    border-left: 0;
    border-top: 0;
    height: 10px;
    width: 10px;
    left: 4px;
    position: absolute;
    top: 4px;
    transform: rotate(45deg) scaleY(0);
    transition: transform .15s ease-in .05s;
    transform-origin: center; */
    /* box-sizing: content-box;
    content: "";
    border: 1px solid #d2d2d2;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center; */
}
.bd-checkbox__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
}
/* .bd-checkbox__input.is-checked .bd-checkbox__inner {
    background-color: #191919;
    border-color: #191919;
} */
.bd-checkbox__input.is-checked .bd-checkbox__inner:after {
    transform: rotate(45deg) scaleY(1);
    background-color: #191919;
    border-color: #191919;
    box-sizing: content-box;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    position: absolute;
    top: 3px;
    border-radius: 100%;
}

.login-success{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    z-index: 1000;
    display: none;
}
.login-success .tip-box-s{
    width: 759px;
    height: 425px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -215px 0 0 -379px;
    background: url(../img/login/frame_2.png) no-repeat;
}
.login-success .tip-box-s .tip-box-s-a{
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 90px;
    top: 154px;
}
.login-success .tip-box-s .tip-box-s-a i{
    display: inline-block;
    width: 43px;
    height: 43px;
    background: url(../img/login/deco.png) no-repeat;
    vertical-align: -9px;
    margin-right: 18px;
}
.login-success .tip-box-s .tip-bx-s-b{
    width: 100%;
    height: 182px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 24px;
    color: #414141;
    text-align: center;
    display: table;
}
.login-success .tip-box-s .tip-bx-s-b p{
    display: table-cell;
    vertical-align: middle;
}
.login-success .tip-box-s .tip-box-s-d{
    color: #f19338;
    margin-left: 50px;
}

